<footer *ngIf="navAndFoot.visible" class="footer-distributed">

      <div class="footer-left">

        <h3>BIC<span>LIBRARY</span></h3>

        <p class="footer-links">
        </p>

        <p class="footer-company-name">Bic Libary © 2023</p>
      </div>

      <div class="footer-center">

        <div>
          <i class="fa-map-marker"></i>
          <p><span>Seven Advanced Academy</span> Bali, Douala</p>
        </div>

        <div>
          <i class="fa-phone"></i>
          <p>+237 690-865477</p>
        </div>

        <div>
          <i class="fa-envelope"></i>
          <p><a href="mailto:support@company.com">Abdoul4line@gmail.com</a></p>
        </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span>About the company</span>
          Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
        </p>

        <div class="footer-icons">

          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-github"></i></a>

        </div>

      </div>

    </footer>