.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #3e5569;
    color: #fff;

    .logo {
        
        h3{
            font: normal 36px 'Open Sans', cursive;

            a{
                color: #fff;
                span{
                    color:  lightseagreen;
                }
            }
        }
    }

    .nav-links  {

        .menu {
            display: flex;
            gap: 1em;
            font-size: 18px;
            
            li {
                padding: 5px 14px;

                a {
                    color: white;
                }

                &:hover {
                    background-color: grey;
                    border-radius: 5px;
                    transition: 0.3s ease;
                }         
                
            }
            .btn{
                a{
                    color: #fff;
                }
            }
            #matMenu{
                a{
                    color: #fff;
                }
            }

        }
    }
}