<nav *ngIf="navAndFoot.visible" class="navbar">
    <!-- LOGO -->
    <div class="logo"> <a href="/">BIC LIBRARY </a></div>
    <!-- <div class="logo"> <a href="/">Home</a> </div> -->

    <!-- NAVIGATION MENU -->
    <ul class="nav-links">

      <!-- NAVIGATION MENUS -->
      <div class="menu">

        <li><a href="books">Books</a></li>
        <li><a href="/">About</a></li>
        <li><a href="/">Contact</a></li>
        <li><a href="/signin">Signin</a></li>

      </div>

    </ul>
  </nav>
