<div class="overall">

    <form  class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()"  novalidate >

        <h1>SignUp</h1>
    
        <div class="form-group">

            <label for="username">Username : </label>

            <input type="text" name="username" id="username" placeholder="Enter your Username" formControlName="username" required >

        </div>

        <div class="conditions" *ngIf="registerForm.controls['username'].dirty || registerForm.controls['username'].touched " >

            <p *ngIf="registerForm.controls['username'].errors?.['minLength'] "> Minimum 4 characters </p>
            <p *ngIf="registerForm.controls['username'].errors?.['maxLength'] "> Maximum 20 characters </p>

        </div>
    
        <div class="form-group">

            <label for="name">Firstname : </label>

            <input type="text" name="firstname" id="firstname" placeholder="Enter your firstname" formControlName="firstname" required >

        </div>

        <div class="conditions" *ngIf="registerForm.controls['firstname'].dirty || registerForm.controls['firstname'].touched " >

            <p *ngIf="registerForm.controls['firstname'].errors?.['minLength'] "> Minimum 2 characters </p>
            <p *ngIf="registerForm.controls['firstname'].errors?.['maxLength'] "> Maximum 10 characters </p>

        </div>
    
        <div class="form-group">

            <label for="name">Lastname : </label>

            <input type="text" name="lastname" id="lastname" placeholder="Enter your lastname" formControlName="lastname" required >

        </div>

        <div class="conditions" *ngIf="registerForm.controls['lastname'].dirty || registerForm.controls['lastname'].touched " >

            <p *ngIf="registerForm.controls['lastname'].errors?.['minLength'] "> Minimum 2 characters </p>
            <p *ngIf="registerForm.controls['lastname'].errors?.['maxLength'] "> Maximum 10 characters </p>

        </div>
    
        <div class="form-group">

            <label for="email">Email : </label>

            <input type="email" name="email" id="email" placeholder="Enter email" formControlName="email" required >

        </div>

        <div class="conditions" *ngIf=" registerForm.controls['email'].dirty || registerForm.controls['email'].touched">

            <p *ngIf="registerForm.controls['email'].errors?.['email']" >Enter valid email format</p>

            <p *ngIf="saveError" >
                Email already exist
            </p>

        </div>
    
        <div class="form-group">

            <label for="password">Password : </label>

            <input type="password" name="password" id="password" placeholder="Enter password" formControlName="password" required >

        </div>

        <div class="conditions" *ngIf=" registerForm.controls['password'].dirty || registerForm.controls['password'].touched">

            <p *ngIf="registerForm.controls['password'].errors?.['pattern']" >
                Atleast 1 letter 1 uppercase 1 lowercase and 1 special character
            </p>

        </div>
    
        <div class="">

            <button type="submit" [disabled]="registerForm.invalid">Create Account </button>

        </div>
    
        <p>
            Already have an account? <a href="/signin">Login</a>
        </p>
        <span></span>
        
    </form>

</div>

