.signin {

    background-color: #3e5569;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .form {

        width: 30%;
        height: 25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(252, 246, 247);
        border-radius: 6px;

        h1 {

            font-size: 30px;
            text-align: center;
            justify-content: center;
            color: #3c00a0;
            border: none;
        }

        .form-group {

            width: 260px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            font-size: 18px;
            background-color: white;
            margin: 5px;

            label {

                margin-left: 5px;
            }

            input {

                height: 2rem;
                outline: none;
                border: none;
                color: black;
                background-color: white;
            }
        }

        .forgetP {
            
            color: black;

            a {
                text-decoration: none;
                color: black;
            }
        }


        button[type=submit] {

            padding: 10px 20px;
            justify-content: center;
            margin-top: 0.5rem;
            margin-left: 1.7rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
            background-color: #3e5569;
            border-radius: 8px;
            border: none;
            font-weight: bold;
            color: white;

            &:hover {
                scale: 1.1;
                transition: 0.2s ease-in;

            }

        }


        .redirect {

            color: black;
            display: flex;
            justify-content: center;
            margin: 4px;
            padding: 3px;

            a {
                text-decoration: none;
                color: blue;
                font-size: 1.5rem;
            }
        }
    }

}